{% load static %}
{% load render_bundle from webpack_loader %}



<div class="wrap home-page">








    <header class="container-fluid site-header">
        <div class="row color-bar">
            <div class="col block blue">
            </div>

            <div class="col block orange">
            </div>

            <div class="col block yellow">
            </div>

            <div class="col block green">
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="phone-icon" href="tel:0800 917 7650">
                <img src="{% static 'images/phone-icon.png' %}" scale="0"> </a>
            <a class="navbar-brand" href="https://aa-edinburgh.org.uk/">
                <img src="{% static 'images/aa_logo.png' %}" id="Logo" scale="0">
            </a>

            <p class="header-helpline">Call our National Helpline for <span>FREE</span> on <span>0800 917 7650</span>
            </p>
            <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse" type="button"><span
                    class="navbar-toggler-icon"></span></button>

            <div id="navbarNav" class="collapse navbar-collapse justify-content-end">
                <ul id="menu-top" class="navbar-nav">
                    <li id="menu-item-3537"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-3537 nav-item active">
                        <a href="https://aa-edinburgh.org.uk/" class="nav-link active">Home</a></li>
                    <li id="menu-item-4517"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4517 nav-item"><a
                            href="https://aa-edinburgh.org.uk/meetings" class="nav-link">Find a Meeting</a></li>
                    <li id="menu-item-4578"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4578 nav-item dropdown">
                        <a href="https://aa-edinburgh.org.uk/#" class="nav-link dropdown-toggle"
                            data-toggle="dropdown">12 &amp; 12</a>
                        <div class="dropdown-menu">
                            <a href="https://aa-edinburgh.org.uk/12-steps-of-alcoholics-anonymous/"
                                class=" dropdown-item">12 Steps</a><a
                                href="https://aa-edinburgh.org.uk/12-traditions-of-alcoholics-anonymous/"
                                class=" dropdown-item">12 Traditions</a></div>
                    </li>
                    <li id="menu-item-4543"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4543 nav-item dropdown">
                        <a href="https://aa-edinburgh.org.uk/professionals/" class="nav-link dropdown-toggle"
                            data-toggle="dropdown">Information For Professionals</a>
                        <div class="dropdown-menu">
                            <a href="https://aa-edinburgh.org.uk/professionals/trustees-view/" class=" dropdown-item">A
                                Non-Alcoholic Trustee’s View</a><a
                                href="https://aa-edinburgh.org.uk/professionals/about-a-a/" class=" dropdown-item">About
                                A.A.</a><a href="https://aa-edinburgh.org.uk/professionals/armed-services/"
                                class=" dropdown-item">Armed Services</a><a
                                href="https://aa-edinburgh.org.uk/professionals/community-services/"
                                class=" dropdown-item">Community Services</a><a
                                href="https://aa-edinburgh.org.uk/professionals/counselling/"
                                class=" dropdown-item">Counselling</a><a
                                href="https://aa-edinburgh.org.uk/professionals/education/"
                                class=" dropdown-item">Education</a><a
                                href="https://aa-edinburgh.org.uk/professionals/frequently-asked-questions/"
                                class=" dropdown-item">FAQ</a><a
                                href="https://aa-edinburgh.org.uk/professionals/healthcare/"
                                class=" dropdown-item">Healthcare</a><a
                                href="https://aa-edinburgh.org.uk/professionals/interesting-statistics/"
                                class=" dropdown-item">Interesting Statistics</a><a
                                href="https://aa-edinburgh.org.uk/professionals/legal-criminal-justice/"
                                class=" dropdown-item">Legal &amp; Criminal Justice</a><a
                                href="https://aa-edinburgh.org.uk/professionals/public-information/"
                                class=" dropdown-item">Public Information</a><a
                                href="https://aa-edinburgh.org.uk/professionals/religious-organisations/"
                                class=" dropdown-item">Religious Organisations</a><a
                                href="https://aa-edinburgh.org.uk/professionals/ethnic-communities/"
                                class=" dropdown-item">Ethnic Communities</a></div>
                    </li>
                    <li id="menu-item-4564"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4564 nav-item dropdown">
                        <a href="https://aa-edinburgh.org.uk/newcomers/" class="nav-link dropdown-toggle"
                            data-toggle="dropdown">Newcomers to AA</a>
                        <div class="dropdown-menu">
                            <a href="https://aa-edinburgh.org.uk/newcomers/about-alcoholism/"
                                class=" dropdown-item">About Alcoholism</a><a
                                href="https://aa-edinburgh.org.uk/newcomers/about-a-a-meetings/"
                                class=" dropdown-item">About A.A. Meetings</a><a
                                href="https://aa-edinburgh.org.uk/newcomers/is-aa-for-you/" class=" dropdown-item">Is AA
                                For You?</a><a href="https://aa-edinburgh.org.uk/newcomers/frequently-asked-questions/"
                                class=" dropdown-item">FAQ</a><a href="https://aa-edinburgh.org.uk/newcomers/who-me/"
                                class=" dropdown-item">Who Me?</a><a
                                href="https://aa-edinburgh.org.uk/newcomers/who-we-are/" class=" dropdown-item">Who We
                                Are</a><a href="https://aa-edinburgh.org.uk/newcomers/get-help-now/"
                                class=" dropdown-item">Get Help Now</a></div>
                    </li>
                    <li id="menu-item-4141"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4141 nav-item dropdown">
                        <a href="https://aa-edinburgh.org.uk/newcomers/members-stories/"
                            class="nav-link dropdown-toggle" data-toggle="dropdown">Members’ Stories</a>
                        <div class="dropdown-menu">
                            <a href="https://aa-edinburgh.org.uk/newcomers/a-message-for-young-people/"
                                class=" dropdown-item">Grace’s Story (YPAA)</a><a
                                href="https://aa-edinburgh.org.uk/newcomers/members-stories/annie/"
                                class=" dropdown-item">Annie’s Story</a><a
                                href="https://aa-edinburgh.org.uk/newcomers/members-stories/brian/"
                                class=" dropdown-item">Brian’s Story</a><a
                                href="https://aa-edinburgh.org.uk/newcomers/members-stories/george/"
                                class=" dropdown-item">George’s Story</a><a
                                href="https://aa-edinburgh.org.uk/newcomers/members-stories/kevin/"
                                class=" dropdown-item">Kevin’s Story</a></div>
                    </li>
                    <li id="menu-item-3536"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3536 nav-item"><a
                            href="https://aa-edinburgh.org.uk/contact-us/" class="nav-link">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="hero">
        <div class="bg">

        </div>
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
                    <h5>ALCOHOLICS ANONYMOUS</h5>
                    <h2>London Region North</h2>

                    <a href="https://aa-edinburgh.org.uk/latest-news/" class="btn btn-aa yellow btn-lg">Latest News</a>
                    <a href="https://aa-edinburgh.org.uk/meetings" class="btn btn-aa orange btn-lg">Find a Meeting</a>
                    <p class="helpline">Call our National Helpline for <span>FREE</span> on <span>0800 917 7650</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid no-gutter">
        <section class="row ctas no-gutters">
            <a href="https://aa-edinburgh.org.uk/newcomers" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 cta">
                <div class="bgi newcomers">
                    <h6>
                        Problems with drinking? </h6>

                </div>
                <div class="icon">
                    <img src="{% static 'images/cta-arrow.png' %}" scale="0"> </div>
            </a>
            <a href="https://aa-edinburgh.org.uk/meetings" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 cta">
                <div class="bgi meetings">
                    <h6>
                        Find A Meeting </h6>

                </div>
                <div class="icon">
                    <img src="{% static 'images/cta-arrow.png' %}" scale="0"> </div>
            </a>
            <a href="https://aa-edinburgh.org.uk/professionals" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 cta">
                <div class="bgi professionals">
                    <h6>
                        Information For Professionals </h6>

                </div>
                <div class="icon">
                    <img src="{% static 'images/cta-arrow.png' %}" scale="0"> </div>
            </a>
            <a href="https://aa-edinburgh.org.uk/a-message-for-young-people"
                class="col-lg-3 col-md-6 col-sm-6 col-xs-12 cta">
                <div class="bgi a-message-for-young-people">
                    <h6>
                        Young people in recovery </h6>

                </div>
                <div class="icon">
                    <img src="{% static 'images/cta-arrow.png' %}" scale="0"> </div>
            </a>
        </section>
    </div>
    <section class="container-fluid">
        <div class="row section-area">


            <div class="col intro-text">
                <h2 class="article-title" id="post-3542">AA Edinburgh &amp; Midlothian</h2>
                <p>People come to AA through many different means… chose the path that best suits you.</p>
                <p>If you want to speak to someone in your area who has found a solution to the problems they had as a
                    result of their drinking you can call our helpline on <strong>0800 917 7650</strong> to be put in
                    touch with someone locally. All calls are free for both landline and mobile.</p>
                <p>Edinburgh &amp; Midlothian AA currently hold 81 meetings per week, click here for our <a
                        href="https://aa-edinburgh.org.uk/meetings">Meeting Finder</a>.</p>

                <a href="https://aa-edinburgh.org.uk/newcomers" class="btn btn-aa orange btn-lg">Get Help Now</a>
            </div>
            <div class="col meeting-finder-24h-container">
                <div class="meeting-finder-24h">
                    <h2>AA Meetings in the next 24 hours</h2>
                    <p class="meeting-information">Click blue venue links for venue details and map. We strive for
                        complete accuracy, but rely on individual groups to provide accurate information.</p>
                    <div class="meeting-finder-24h-inner">
                        <!--<div style="text-align: center!important; margin-bottom: 20px;">
    <p style="text-align: center; padding-top: 20px;">Sorry this is temporarily unavailable, due to a network issue.</p>
        <a href="https://aa-edinburgh.org.uk/meetings/">A full list of meetings can be found here</a>
        </div>-->
                        <div id="sidebar_meeting" class="reactap">
                            <div class="table-responsive">
                                <table class="table table-sm table-striped">
                                    {% if meetings_toda|length > 0%}
                                    <thead>
                                        <tr>
                                            <th>{{day_name_today}}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entry in meetings_toda %}
                                       

                                        <tr>
                                            <td><a href="https://aa-edinburgh.org.uk/meetings/holy-corner-2/">{{entry.title}}
                                                    </a></td>
                                            <td class="text-right">{{entry.time}}</td>
                                        </tr>


                                        {% endfor %}


                                    </tbody>
                                    


                                {% endif%}
                                {% if meetings_tomorro|length > 0%}
                                    <thead>
                                        <tr>
                                            <th>{{day_name_tomorrow}}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entry in meetings_tomorro %}
                                       

                                        <tr>
                                            <td><a href="https://aa-edinburgh.org.uk/meetings/holy-corner-2/">{{entry.title}}
                                                    </a></td>
                                            <td class="text-right">{{entry.time}}</td>
                                        </tr>


                                        {% endfor %}


                                    </tbody>
                                    


                                {% endif%}
                                </table>
                                
                            </div>
                        </div>
                    </div>
                    <a href="https://aa-edinburgh.org.uk/pdf/AA_WTF_OCTOBER_2019.pdf" class="pdf-download-button">
                        click here to download full meeting list pdf
                    </a>
                    <div class="form-row text-center">
                        <div class="col-12">
                            <a href="https://aa-edinburgh.org.uk/all-meetings"
                                class="btn btn-aa-ghost transparent btn-lg">See All Meetings
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-two">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row hero-text-container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
                    <h5>FREEDOM from Alcoholism</h5>
                    <h2>"Our whole attitude and outlook upon life will change"</h2>
                    <a href="https://aa-edinburgh.org.uk/newcomers/about-alcoholism/"
                        class="btn btn-aa yellow btn-lg">About Alcoholism</a>
                    <a href="https://aa-edinburgh.org.uk/newcomers/is-aa-for-you/" class="btn btn-aa orange btn-lg">Is
                        AA for you?</a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-6 lg-cta big-book-online">
                <div class="bb-image">
                    <img src="{% static 'images/bigbook_cutout.png' %}" alt="Big Book Online" scale="0">
                </div>
                <a class="title" href="https://aa-edinburgh.org.uk/big-book-online">
                    Big Book Online
                </a>
            </div>
            <div class="col-lg-6 lg-cta members-stories">
                <div class="content">
                    <h6>Members Stories</h6>
                    <strong>These are the stories of how a few of our members came to find a solution to their drinking
                        problems in Alcoholics Anonymous.</strong>
                    <br>
                    <br>
                    <p>In time this area will grow. If you are a member of the fellowship and would like to share your
                        experience here, please contact the web
                        team from the contact form.</p>

                    <a href="https://aa-edinburgh.org.uk/members-stories" class="btn btn-aa orange btn-lg">Read all
                        stories</a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row info-phone">
            <div class="col-9 align-self-center">
                <h6>Call our National Helpline for <span>FREE</span> on <span>0800 917 7650</span></h6>
                <p>AA Edinburgh and Midlothian is committed to providing safe venues for our meetings. We encourage
                    group members to help keep AA safe by taking sensible precautions, both with personal belongings and
                    by being mindful about giving out personal information.</p>
            </div>
        </div>
    </section>
    <footer class="container-fluid footer">
        <div class="row">
            <h6>Useful links and information.</h6>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="menu-footer-col-1-container">
                    <ul id="menu-footer-col-1" class="menu">
                        <li id="menu-item-4072"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4072"><a
                                href="https://aa-edinburgh.org.uk/all-meetings/">Find a Meeting</a></li>
                        <li id="menu-item-4074"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4074"><a
                                href="https://aa-edinburgh.org.uk/newcomers/get-help-now/">Get Help Now</a></li>
                        <li id="menu-item-4075"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4075"><a
                                href="https://aa-edinburgh.org.uk/newcomers/who-we-are/">Who We Are</a></li>
                        <li id="menu-item-4076"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4076"><a
                                href="https://aa-edinburgh.org.uk/newcomers/about-alcoholism/">About Alcoholism</a></li>
                        <li id="menu-item-4077"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4077"><a
                                href="https://aa-edinburgh.org.uk/newcomers/is-aa-for-you/">Is AA For You?</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="menu-footer-col-2-container">
                    <ul id="menu-footer-col-2" class="menu">
                        <li id="menu-item-4078"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4078"><a
                                href="https://aa-edinburgh.org.uk/newcomers/a-message-for-young-people/">Young
                                People</a></li>
                        <li id="menu-item-4079"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4079"><a
                                href="https://aa-edinburgh.org.uk/professionals/about-a-a/">About A.A.</a></li>
                        <li id="menu-item-4080"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4080"><a
                                href="https://aa-edinburgh.org.uk/newcomers/about-a-a-meetings/">About A.A. Meetings</a>
                        </li>
                        <li id="menu-item-4081"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4081"><a
                                href="https://aa-edinburgh.org.uk/newcomers/members-stories/">Members’ Stories</a></li>
                        <li id="menu-item-4082"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4082"><a
                                href="https://aa-edinburgh.org.uk/newcomers/starter-pack/">Starter Pack</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="menu-footer-col-3-container">
                    <ul id="menu-footer-col-3" class="menu">
                        <li id="menu-item-4083"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4083"><a
                                href="https://aa-edinburgh.org.uk/professionals/frequently-asked-questions/">FAQ</a>
                        </li>
                        <li id="menu-item-4084"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4084"><a
                                href="https://aa-edinburgh.org.uk/newcomers/roundabout/">Roundabout</a></li>
                        <li id="menu-item-4085"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4085"><a
                                href="https://aa-edinburgh.org.uk/newcomers/share/">Share Magazine</a></li>
                        <li id="menu-item-4086"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4086"><a
                                href="https://aa-edinburgh.org.uk/contact-us/">Contact Us</a></li>
                        <li id="menu-item-4630"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4630"><a
                                href="https://aa-edinburgh.org.uk/privacy-policy/">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

            </div>
        </div>
    </footer>


    <div style="display:none">
    </div>

</div>

<h1>{{day_name_tomorrow}}</h1>
{% for entry in meetings_tomorrow %}
<div>{{ entry.day }}</div>
<div>{{ entry.title }}</div>
<div>{{ entry.time }}</div>



{% endfor %}
</div>
 <div id="lrn_meetings"></div>
<script>
  
  
  
  window.react_mount = document.getElementById('lrn_meetings');
 
  
</script>

{% block extra_js %}
             {% render_bundle 'meeting' %}

        {% endblock %}
 


