{% load static wagtailcore_tags  %}
{% load render_bundle from webpack_loader %}









<!-- Post -->

  <header>
          <h2>Online Meetings Now</h2>
  </header>

    

    <section id="meeting-search"></section>
    <section id="online-meetings-link"><h2><a href='/'>see full list of meetings</a></h2></section>
    <section id="new-to-aa"><h2>new to AA?</h2>

    <div id="arrow-wrapper">
    <div class="arrow-wrapper-row"><span class="new-arrow"><img src="{% static 'images/black-arrow.svg' %}" alt="" /></span><span>Call us any time on <a class="blue-text" href="tel:0800 9177 650">0800 9177 650</a></span></div>
    <div class="arrow-wrapper-row"><span class="new-arrow"><img src="{% static 'images/black-arrow.svg' %}" alt="" /></span><span>Use our <a class="blue-text"href="https://www.alcoholics-anonymous.org.uk/Home" target="_blank" rel="noopener noreferrer">Chat Now</a> service</span></div>
    <div class="arrow-wrapper-row"><span class="new-arrow"><img src="{% static 'images/black-arrow.svg' %}" alt="" /></span><span><a class="blue-text" href="mailto:help@aamail.org">Email Us</a></span></div>
    <div class="arrow-wrapper-row"><span class="new-arrow"><img src="{% static 'images/black-arrow.svg' %}" alt="" /></span><span><a class="blue-text" href="https://www.alcoholics-anonymous.org.uk/About-AA/Newcomers" target="_blank" rel="noopener noreferrer">Learn more</a></span></div>
    
    </div>
    
   
 
    </section>
    <section id="notice-board"><h2>noticeboard</h2>
    {% for notice in notices%}
    <div class="notice-board-row">
      <div class="notice-arrow"><img src="{% static 'images/white-arrow.png' %}" alt="" /></div> 
      <div class="notice-board-data-title">{{ notice.title }}</div>
      <div class="notice-board-data-description">{{ notice.description }}</div>
      <div class="notice-board-data-link">{{ notice.link_page }}</div>
    </div>

    {% endfor%}
    </section>

    
    


   







 <script>
   window.topRecords = 5
 </script>
<script>
  
  
  
  window.react_mount = document.getElementById('meeting-search');
 
  
</script>

{% block extra_js %}
             {% render_bundle 'onlinemeetingsearch' %}

        {% endblock %}
 


