{% load static wagtailcore_tags  %}
{% load render_bundle from webpack_loader %}









<!-- Post -->
<article class="post">
  <header>
      <div class="title">
          <h2><a>Online Meetings</a></h2>
    
          {{page.body}}

          </div>
  </header>

    
<div class=containery>
    <div id="meeting_search"></div>
  </div>

    
    


   







 
<script>
  
  
  
  window.react_mount = document.getElementById('meeting_search');
 
  
</script>
</article>
{% block extra_js %}
             {% render_bundle 'onlinemeetingsearch' %}

        {% endblock %}
 


