{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-eventindexpage{% endblock %}

{% block content %}
<!-- Post -->
<article class="post">
    <header>
        <div class="title">
            <h2><a>Events</a></h2>
            <div>To add an event please <b><a href="mailto:ecomm.ln@aamail.org">email us</a></b></div>
            </div>
        
    </header>

 

    <div class="intro">{{ page.intro|richtext }}</div>
    <div id='event-loc' class='event-types'>

        {% for key, value in event_counts.items %}
        <div><a href="/events/?event_type={{key}}#event-loc" {% ifequal key active %} style="color: #2ebaae !important;" {% endifequal%}>{{key}}({{value}})</a></div>
        
        {% endfor %}
    </div>

    {% for event in event_entries %}
        {% ifchanged event.start_date|date:"F" %}
         <h1>  {{  event.start_date|date:"F" }} {{  event.start_date|date:"Y" }}</h1> 
        {% endifchanged %}
        <h5 class="aa-event-title"><a href="{% pageurl event %}">{{ event.title }}</a></h5>
        
    {% endfor %}
</article>
{% endblock %}

