{% extends "base.html" %} {% load render_bundle from webpack_loader %} {% load static wagtailuserbar %} {% block content %}
<!-- Post -->
<article class="post">
  <div class="meeting-container">
    <div class="meeting-title"><h2>{{object.title}}</h2></div>
    <div class="meeting-box">
      <div class="notice-arrow">
        <img src="{% static 'images/white-arrow.png' %}" alt="" />
      </div>
    </div>
    <div class="meeting-address-time meeting-detail-text">
      <div>{{object.day|upper}}</div>
      <div>{{object.time}}</div>
    </div>
    <div class="meeting-type">
      <div class="meeting-detail-text">TYPE</div>
      <div><img src="{% static 'images/building-location-pin.png'  %}" /></div>
    </div>
    <div class="meeting-whatsapp">
      <div class="meeting-detail-text">SHARE</div>
      <div>
        Whatsapp
        <a
          class="fa fa-whatsapp fa-2x"
          href="whatsapp://send?text=Eaton Square High Noon - Friday - noon -  https://us02web.zoom.us/j/84927816434"
          aria-hidden="true"
        >
        </a>
      </div>
    </div>
    <div class="meeting-details">
      <div class="meeting-detail-text">DETAILS</div>
      <div>{{object.detail}}</div>
    </div>
    <div class="meeting-map">
      <div class="meeting-detail-text">OUR LOCATION</div>
      <div id="map"></div>
    </div>
    <div class="meeting-city-mapper">
      <div class="meeting-detail-text">GET ME THERE</div>
      <div>
        <a
          href="https://citymapper.com/directions?endcoord={{object.lat}}%2C{{object.lng}}&endname={{object.title}}"
          target="_blank"
          ><img
            src="https://static.citymapper.com/img/embed/GetMeThere_Citymapper.png"
            alt="Get directions with Citymapper"
        /></a>
      </div>
    </div>

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <script>
      var lat = {{ object.lat }};
      var lng = {{object.lng}};
      console.log(lat);
      mapboxgl.accessToken = 'pk.eyJ1IjoiY2hyaXN3ZWRnd29vZCIsImEiOiJjazJ3M2xyOGkwYXppM29xbGlreGxtZWk1In0.wB4JKWEScmQogF0I9aSNoA';
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center:[lng,lat],
      zoom: 14
      });

      var marker = new mapboxgl.Marker()
        .setLngLat([lng, lat])
        .addTo(map);
    </script>
  </div>
</article>

{% endblock %}
