{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
 <div class=container>
  <div class="red-notice"><h2>NOTICE</h2>

<p>Due to the coronavirus (COVID-19) and Government restrictions there are no current physical meetings.
There are many online meetings,<b><a href="{% url 'online-zoom-meetings-redirect' %}" target="_blank">please see page for a full list of Zoom and Skype meeting times.</a></b> <p>

<b><p>If you are new to AA or would like to contact someone, <a href="https://www.alcoholics-anonymous.org.uk/Contact" target="_blank">see further contact details here</a> </p></b></div>
    <div id="meeting_search"></div>
  </div>
  
{% endblock %}





{% block extra_js %}
  <script>
  
  
  
  window.react_mount = document.getElementById('meeting_search');
 
  
</script>
             {% render_bundle 'meetingsearch' %}

{% endblock %}
 