{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
 <div class=container>
 <header>
          <h2>Add Meeting</h2>
  </header>  
    <div id="root"></div>
  </div>
  
  
{% endblock %}





{% block extra_js %}
  <script>
  
  
  
  window.react_mount = document.getElementById('root');
 
  
</script>

<script src="https://assets.what3words.com/sdk/v3/what3words.js?key={{what_three_words_api_key}}"></script>
{% render_bundle 'meetingformselector' %}




 

{% endblock %}
 