{% extends "base.html" %} {% load render_bundle from webpack_loader %} {% load static wagtailuserbar %} {% block content %}
<!-- Post -->
<article class="post">
  <div class="meeting-container">
    <div class="meeting-title"><h2>{{object.title}}</h2></div>
    <div class="meeting-box">
      <div class="notice-arrow">
        <img src="{% static 'images/white-arrow.png' %}" alt="" />
      </div>
    </div>
    <div class="meeting-address-time meeting-detail-text">
      {% for day in object.days.all %}{{ day|upper }}<br/>{% endfor %}
      <div>{{object.time}}</div>
    
    </div>
    <div class="meeting-type">
      <div class="meeting-detail-text">TYPE</div>
      {% if object.type == 'F2F'%}
      <div><img src="{% static 'images/building-location-pin.png'%}" /><img src="{% static 'images/santa.png'%}" /></div>
      
      {% elif object.type == 'HYB'  %}
  
      <div><img src="{% static 'images/building-location-pin.png'%}" /><img src="{% static 'images/zoom.png'%}" /><img src="{% static 'images/santa.png'%}" /></div>
      {% else  %}
      <div><img src="{% static 'images/building-location-pin.png'%}" /><img src="{% static 'images/zoom.png'%}" /><img src="{% static 'images/santa.png'%}" /></div>
      {% endif %}
    </div>
    <div class="meeting-whatsapp">
      <div class="meeting-detail-text">SHARE</div>
      <div>
        Whatsapp
        <a class="fa fa-whatsapp fa-2x" href="whatsapp://send?text=https://citymapper.com/directions?endcoord={{object.lat}}%2C{{object.lng}}&endname={{object.title}} - {{object.title}} - {{object.day}} - {{ object.time}} - {% if object.description%} {{object.description}} {% endif %} ">
          </a>
      </div>
    </div>
    
    <div class="meeting-details">
      <div class="meeting-detail-text">ADDRESS</div>
      <div>{{object.address}}</div>
      <div>{{object.postcode}}</div>
      <div class="meeting-detail-text">DETAILS</div>
      <div>{{object.description}}</div>
      {% if object.sub_types.all%}
      <div class="meeting-detail-text">CATEGORIES</div>
      <div>{% for sub_type in object.sub_types.all %}{{ sub_type.value }}<br/>{% endfor %}</div>
      {% endif %}
      {% if object.payment_details%}
      <div class="meeting-detail-text">PAYMENT LINK</div>
      <div><a href="{{object.payment_details}}" target="_blank">{{object.payment_details}}</a></div>
      {% endif%}
      {% if object.type == 'HYB'%}
      <div class="meeting-detail-text">ONLINE LINK</div>
      <div><a href="{{object.online_link}}" target="_blank">{{object.online_link}}</a></div>
      {% if object.online_password%}
      <div class="meeting-detail-text">PASSWORD</div>
      <div>{{object.online_password}}</div>
      {% endif %}
      {% endif %}
    </div>
    
    {% if object.lat %}
    <div class="meeting-map">
      <div class="meeting-detail-text">OUR LOCATION</div>
      
      <div>
        <a
          href="https://citymapper.com/directions?endcoord={{object.lat}}%2C{{object.lng}}&endname={{object.title}}"
          target="_blank"
          ><img
            src="https://static.citymapper.com/img/embed/GetMeThere_Citymapper.png"
            alt="Get directions with Citymapper"
        /></a>
      </div>
      
      <div id="map"></div>

    </div>
    {% endif %}

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <script>
      var lat = '{{ object.lat }}';
      var lng = '{{object.lng}}';
      console.log(lat);
      mapboxgl.accessToken = 'pk.eyJ1IjoiY2hyaXN3ZWRnd29vZCIsImEiOiJjazJ3M2xyOGkwYXppM29xbGlreGxtZWk1In0.wB4JKWEScmQogF0I9aSNoA';
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center:[lng,lat],
      zoom: 14
      });

      var marker = new mapboxgl.Marker()
        .setLngLat([lng, lat])
        .addTo(map);
    </script>
  </div>
  <div>
    <a class="fa fa-edit fa-2x" href="/update/{{object.slug}}">
      </a><span> Click to notify us of changes</span>
  </div>

</article>

{% endblock %}
