<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding-left: 5px;
            padding-right: 5px;
        }
    </style>
</head>

<body>
    <br>
    <div>Hi</div>
    <br>
    {% if meeting.submission == 'new' %}
    <p>Thank you for letting us know about your new meeting details.</p>
    {% else %}
    <p>Thank you for letting us know about the changes to your meeting details.</p>
    {% endif %}
    <p>We have uploaded them to <a class="blue-text" href="https://aa-london.com" target="_blank"
            rel="noopener noreferrer">https://aa-london.com</a></p>
    <p>
    <p>If you have any questions, or would like to make suggestions on how we might improve our site, I would be
        delighted to hear from you.</p>
    <div>Kind Regards</div>
    <div>AA LondonWebsite team</div>
    </p>
    <div><a class="blue-text" href="https://aa-london.com" target="_blank"
            rel="noopener noreferrer">https://aa-london.com</a></div>
    
            <h2>Meeting Details:</h2>
            <table>
                <tbody>
                    <tr>
                        <th align="left">Title</th>
                        <td>{{ meeting.title }}</td>
                    </tr>
                    <tr>
                        <th align="left">Submission</th>
                        <td>{{ meeting.submission }}</td>
                    </tr>
                    <tr>
                        <th align="left">Type</th>
                        <td>{{ meeting.get_type_display }}</td>
                    </tr>
                    <tr>
                        <th align="left">Address</th>
                        <td>{{ meeting.address }}</td>
                    </tr>
                    <tr>
                        <th align="left">Days</th>
                        <td>{{ meeting.meeting_days }}</td>
                    </tr>
                    <tr>
                        <th align="left">Intergroup</th>
                        <td>{{ meeting.intergroup }}</td>
                    </tr>
                    <tr>
                        <th align="left">Start Time</th>
                        <td>{{ meeting.time }}</td>
                    </tr>
                    <tr>
                        <th align="left">End Time</th>
                        <td>{{ meeting.end_time }}</td>
                    </tr>
                    <tr>
                        <th align="left">Online Link</th>
                        <td>{{ meeting.online_link }}</td>
                    </tr>
                    <tr>
                        <th align="left">Online Password</th>
                        <td>{{ meeting.online_password }}</td>
                    </tr>
                    <tr>
                        <th align="left">Payment Details</th>
                        <td>{{ meeting.payment_details }}</td>
                    </tr>
                    <tr>
                        <th align="left">What three Words</th>
                        <td>{{ meeting.what_three_words }}</td>
                    </tr>
                    <tr>
                        <th align="left">Email</th>
                        <td>{{ meeting.email }}</td>
                    </tr>
                    <tr>
                        <th align="left">Latitude</th>
                        <td>{{ meeting.lat }}</td>
                    </tr>
                    <tr>
                        <th align="left">Longitude</th>
                        <td>{{ meeting.lng }}</td>
                    </tr>
                    <tr>
                        <th align="left">Postcode</th>
                        <td>{{ meeting.postcode }}</td>
                    </tr>
                    <tr>
                        <th align="left">Detail</th>
                        <td>{{ meeting.detail }}</td>
                    </tr>
                    <tr>
                        <th align="left">Notes</th>
                        <td>{{ meeting.notes }}</td>
                    </tr>
                    <tr>
                        <th align="left">Categories</th>
                        <td>{{ meeting.meeting_categories }}</td>
                    </tr>
                </tbody>
            </table>  
    
</body>

</html>

</html>
