<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding-left: 5px;
            padding-right: 5px;
        }
    </style>
</head>

<body>
    <br>
    <div>Hi</div>
    <br>
    {% if meeting.submission == 'new' %}
    <p>Thank you for letting us know about your new meeting details.</p>
    {% else %}
    <p>Thank you for letting us know about the changes to your meeting details.</p>
    {% endif %}
    <p>We have uploaded them to <a class="blue-text" href="https://aa-london.com" target="_blank"
            rel="noopener noreferrer">https://aa-london.com</a></p>
    <p>
    <p>If you have any questions, or would like to make suggestions on how we might improve our site, I would be
        delighted to hear from you.</p>
    <div>Alan M, Chair</div>
    <div>Website team</div>
    </p>
    <div><a class="blue-text" href="https://aa-london.com" target="_blank"
            rel="noopener noreferrer">https://aa-london.com</a></div>
    <div><a href="tel:+4477 0353 7748">+4477 0353 7748</a></div>
    
    
</body>

</html>

</html>
