{% extends "base.html" %}

{% block content %}
<div  class="modalx">
  <div class="modal-contentx">
      <header><h1>FESTIVE SEASON UPDATES</h1></header>
      
<h2>TO GSR & GROUP REPS</h2>
<p>
  Update your meeting opening/closure status during Christmas and New Years on 
  <a href="https://aa-london.com">aa-london.com</a> and GSO websites, as well as with the London telephone office team.
</p>

<h2>ALL MEETINGS</h2>
<p>
  Use this online form: 
  <a href="https://tinyurl.com/xmas-meetings">https://tinyurl.com/xmas-meetings</a>
</p>
<p>Key details needed:</p>
<ul>
  <li>Days the meeting will be active/inactive</li>
  <li>Any events/celebrations during this period</li>
</ul>
<h2><strong>HELP SPREAD THE WORD</strong></h2>
<p>Please let your contacts in AA know about this by sharing this <a href="{{xmas_flyer.file.url}}">e-flyer</a>.</p>
<p>Any questions? Get in touch via <a href="mailto:info@aa-london.com">info@aa-london.com</a>.</p>

     
  </div>
</div>

  
{% endblock %}








 