{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
<!-- Post -->
<article class="post">
  <header>
      <div class="title">
          <h2><a>THANK YOU </a></h2>
          </div>
      
  </header>

    <h1>{{object.title}} {{object.day}}</h1>
    <div class="container">
    
    
    
    <p>Thank you for your meeting detail submission. We will endeavour to update your meeting details within 24 hours. Please be patient.</p>
    <p>Please also email changes to your meeting details to GSO click <a href="mailto:groupinformation@gsogb.org.uk"><b>here</b></a><b>.</b> There is no need to fill out a 'pink' form.</p>
          

    </div>
</article>

{% endblock %}





 