{% extends "base.html" %} {% load render_bundle from webpack_loader %} {% load static wagtailuserbar %} {% block content %}
<!-- Post -->
<article class="post">
  <div class="meeting-container">
    <div class="meeting-title"><h2>{{object.title}}</h2></div>
    <div class="meeting-box">
      <div class="notice-arrow">
        <img src="{% static 'images/white-arrow.png' %}" alt="" />
      </div>
    </div>
    <div class="meeting-address-time meeting-detail-text">
      {% for day in object.days.all %}{{ day|upper }}<br/>{% endfor %}
      <div>{{object.time}}</div>

      
    </div>
    <div class="meeting-type">
      <div class="meeting-detail-text">TYPE</div>
      <div><a href="{{object.online_link}}" target="_blank"><img src="{% static 'images/zoom.png'  %}" />{% if object.xmas_open %}<img src="{% static 'images/santa.png'%}" />{% endif %}</a></div>
    </div>
    <div class="meeting-whatsapp">
      <div class="meeting-detail-text">SHARE</div>
      <div>
        Whatsapp
        
        <a class="fa fa-whatsapp fa-2x" href="whatsapp://send?text={{object.title}} - {{object.day}} - {{ object.time}} - {% if object.description%} {{object.description}} {% endif %} {{object.link}}">
          </a>
      </div>
    </div>
   
    <div class="meeting-details">
      <div class="meeting-detail-text">DETAILS</div>
      <div>{{object.description|linebreaks}}</div>
      {% if object.sub_types.all%}
      <div class="meeting-detail-text">CATEGORIES</div>
      <div>{% for sub_type in object.sub_types.all %}{{ sub_type.value }}<br/>{% endfor %}</div>
      {% endif %}
      {% if object.online_password%}
      <div class="meeting-detail-text">PASSWORD</div>
      <div>{{object.online_password}}</div>
      {% endif %}
      {% if object.tradition_7_details%}
      <div class="meeting-detail-text">PAYMENT LINK</div>
      <div><a href="{{object.tradition_7_details}}" target="_blank">{{object.tradition_7_details}}</a></div>
    {% endif%}
   
    </div>
   
    <div class="meeting-map">
      <div><a href="{{object.online_link}}" target="_blank" class="button">Go to meeting</a></div>
    </div>
   

    

    
  </div>
    
    <div>
      <a class="fa fa-edit fa-2x" href="/update/{{object.slug}}">
        </a><span> Click to notify us of changes</span>
    </div>
  
</article>

{% endblock %}
