{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load render_bundle from webpack_loader %}

{% load menu_tags %}


<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <script src="https://kit.fontawesome.com/fb67b2fef3.js" crossorigin="anonymous"></script>

        <meta name="description" content="{% block meta_description %}{% if self.search_description %}{{ self.search_description }}{% else %}aa-london carrying the message to the still suffering alcoholic{% endif %}{% if self.seo_title %} {{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% if active %}{{ active }}{% endif %}{% if description %} - {{ description }}{% endif %} "/>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
        <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} - aa-london.com">
        <meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% else %}Alcoholics Anonymous London helping people who want to stop drinking to stop drinking{% endif %}{% if self.seo_title %} {{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% if active %}{{ active }}{% endif %}{% if description %} - {{ description }}{% endif %}">
        <meta property="og:image" content="{% static 'images/favicon.ico' %}">
        <meta property="og:url" content="{{ page.full_url }}">
        <meta name="descriptionx" content="" /> 
        <meta name="viewport" content="width=device-width, initial-scale=0.9" />

        {# Global stylesheets #}
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">        
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">       
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"> 
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <style>
            .modal {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                justify-content: center;
                align-items: center;
            }
        
            .modal-content {
                background-color: white;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
                text-align: center;
            }
        
            .btn {
                background-color: #4CAF50;
                color: white;
                border: none;
                padding: 10px 20px;
                cursor: pointer;
                border-radius: 4px;
                font-weight: 900;
            }
        
            .btn:hover {
                background-color: #45a049;
                color: black;
            }
        
            .hidden {
                display: none;
            }
        </style>
        
       
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

<!--GOOGLE TAG MANAGER-->
{% if google_tag_manager_id %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{google_tag_manager_id}}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{google_tag_manager_id}}');
    </script>
{%endif%}




    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% if google_tag_manager_id %}   
        <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{google_tag_manager_id}}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endif %}
    <!-- End Google Tag Manager (noscript) -->
        {% wagtailuserbar %}
        <div id="wrapper">
			


 

            <!-- Header -->
                <header id="header">
                  
                    {% main_menu max_levels=3 template="menus/main_menu_dropdown.html" sub_menu_template="menus/sub_menu.html" %}

                
                </header>

            
            
           

            <!-- Main -->
                <main id="main">
                   
                            {% block content %}{% endblock %}
                  

                    


                    

                </main>

            <!-- Sidebar -->
                <aside id="sidebar">

                    <!-- Intro -->
                        <section id="intro-aa">
                            <a href="#" class="logo"><img src="{% static 'images/logo.jpg' %}" alt="" /></a>
                            
                            <header>
                                <h2>Alcoholics Anonymous London</h2>
                         
                          
                          <p class="{% if not page.title == 'Home' %}mobile-display-none{% endif %}">Alcoholics Anonymous is a fellowship of men and women who
share their experience, strength and hope with each other that
they may solve their common problem and help others to recover
from alcoholism. The only requirement for membership is a desire to stop drinking.
There are no dues or fees for A.A. membership; we are selfsupporting through our own contributions. A.A. is not allied with
any sect, denomination, politics, organization or institution; does
not wish to engage in any controversy, neither endorses nor
opposes any causes. Our primary purpose is to stay sober and
help other alcoholics to achieve sobriety. </p>


{% if request.resolver_match.view_name == 'meeting_search' %}
    <div class="resp-container">
        <iframe class="resp-iframe" align="left" src="https://player.vimeo.com/video/531328401" gesture="media"  allow="encrypted-media" allowfullscreen></iframe>
    </div> 
{% endif %}
<div class="{% if not page.title == 'Home' %}mobile-display-none{% endif %}">
    <h3 class="side-bar-arrows">New to AA?</h3>
    
    <div  class="side-bar-arrows arrow-wrapper">
    
    <div class="arrow-wrapper-row">
        <span class="new-arrow"><img src="{% static 'images/black-arrow.svg' %}" alt="" /></span><span>Call us any time on <a class="blue-text" href="tel:0800 9177 650">0800 9177 650</a></span>
    
    </div>
    <div class="arrow-wrapper-row">
        <span class="new-arrow"><img src="{% static 'images/black-arrow.svg' %}" alt="" /></span><span>Use our <a class="blue-text"href="https://www.alcoholics-anonymous.org.uk/Home" target="_blank" rel="noopener noreferrer">Chat Now</a> service</span>
    </div>

    <div class="arrow-wrapper-row">
        <span class="new-arrow"><img src="{% static 'images/black-arrow.svg' %}" alt="" /></span><span><a class="blue-text" href="mailto:help@aamail.org">Email Us</a></span>
    </div>

    <div class="arrow-wrapper-row">
        <span class="new-arrow"><img src="{% static 'images/black-arrow.svg' %}" alt="" /></span><span><a class="blue-text" href="https://www.alcoholics-anonymous.org.uk/About-AA/Newcomers" target="_blank" rel="noopener noreferrer">Learn more</a></span>
    </div>

    <div class="arrow-wrapper-row">
        <span class="new-arrow">
            <img src="{% static 'images/black-arrow.svg' %}" alt="" />
        </span>
        
        <span class="font-bold">
            Find
            <a class="blue-text" href="https://aa-london.com/resources/alcoholicos-anonymous-espanol/" target="_blank" rel="noopener noreferrer">meetings in Spanish / Reuniones en Español</a>
        </span>
    </div>

    <div class="arrow-wrapper-row">
        <span class="new-arrow">
            <img src="{% static 'images/black-arrow.svg' %}" alt="" />
        </span>
        
        <span class="font-bold">
            Find
            <a class="blue-text" href="https://aa-london.com/resources/anonimowi-alkoholicy-polsku-wielkiej-brytanii/" target="_blank" rel="noopener noreferrer">meetings in Polish / Spotkania w języku polskim</a>
        </span>
    </div>
    
    </div>
</div>
                            </header>

    
                        </section>

                    
                        
                    
                    
                
                        

         
                </aside>
                 <!-- Chatbot -->
                
        {% if  page.title == 'Home' %}
        <div class="chat-bot-popup">
            <div><img class="sc-iBPRYJ bhdplU chat-bot-base-img" src="/static/images/Chatbot_bot-icon.svg" alt="avatar"></div>
            <div class="chat-bot-base-speech-bubble speech-arrow"><a href="/chatbot"  rel="noopener noreferrer">Any questions? I'm here to help</a></div>
        </div>
        {% endif %}
        
        <footer>
        {% include "footer.html" %}
        
      </footer>
     
      <div id="cookieModal" class="modal hidden">
        <div class="modal-content">
            <header><h1>QUESTIONS FOR CONFERENCE 2025 </h1></header>

    <h2>London Groups and Intergroups, 
    </h2>
    <p>
        Please submit your responses to the Questions for Conference 2025 using the online forms.  

    </p>

    <h2>Responses for London Region North (for Groups / Intergroups north of the river)</h2>
    <p>
        <a href="https://tinyurl.com/qfc-london-2025">https://tinyurl.com/qfc-london-2025</a>
    </p>
   
    <h2>Responses for London Region South (for Groups / Intergroups south of the river) 
    </h2>
    <p>
        <a href="http://tinyurl.com/Conference-Questions-2025">http://tinyurl.com/Conference-Questions-2025</a>
    </p>

    <h2>ONLINE MEETINGS</h2>
    <p>
      Please use your discretion. For those outside London, contact your local Intergroups for more information.

    </p>
   
            <button id="acceptCookies" class="btn">Continue to site</button>
        </div>
    </div>
    </div>
    
    
        </div>
       

        {# Global javascript #}
        
       
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>       
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>        
       
     
        

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
       
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const modal = document.getElementById('cookieModal');
                const acceptButton = document.getElementById('acceptCookies');

                // Function to check if a cookie exists
                function getCookie(name) {
                    const value = `; ${document.cookie}`;
                    const parts = value.split(`; ${name}=`);
                    if (parts.length === 2) return parts.pop().split(';').shift();
                }

                // Show modal if the cookie is not set
                if (!getCookie('cookiesAccepted')) {
                    modal.style.display = 'flex'; // Show modal as a flexbox
                }

                // Set a cookie and hide the modal when accepted
                acceptButton.addEventListener('click', function () {
                    document.cookie = "cookiesAccepted=true; path=/; max-age=" + 60 * 60 * 24 * 365; // 1 year
                    modal.style.display = 'none';
                });
            });
        </script>
        
        
        
       
    </body>
</html>
