{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/aalondon.css' %}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Alcoholics Anonymous London Region North | Official AA Website for London Region North</title>
                
        <link rel="stylesheet" href="{% static 'css/stg6sru.css'%}">
        <link rel="shortcut icon" href="https://aa-edinburgh.org.uk/favicon.ico" type="image/x-icon">
        <link rel="icon" href="https://aa-edinburgh.org.uk/favicon.ico" type="image/x-icon">
        
        <link rel="stylesheet" id="wp-block-library-css" href="{% static 'css/style.min.css' %}" type="text/css" media="all">
        <link rel="stylesheet" id="contact-form-7-css" href="{% static 'css/styles.css' %}" type="text/css" media="all">
        <link rel="stylesheet" id="bootstrap-css" href="{% static 'css/bootstrap.css' %}" type="text/css" media="all">
        <link rel="stylesheet" id="theme-style-css" href="{% static 'css/style.css' %}" type="text/css" media="all">
        <link rel="stylesheet" id="slb_core-css" href="{% static 'css/app.css' %}" type="text/css" media="all">
        <link rel="stylesheet" id="jquery-lazyloadxt-spinner-css-css" href="{% static 'css/jquery.lazyloadxt.spinner.css' %}" type="text/css" media="all">
        <link rel="stylesheet" id="timed-content-css-css" href="{% static 'css/timed-content.css' %}" type="text/css" media="all">
        
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/timed-content.js' %}"></script>
        
        <style type="text/css">img#wpstats{display:none}</style>

        <link rel="stylesheet" type="text/css" id="gravatar-card-css" href="{% static 'css/hovercard.min.css' %}"><link rel="stylesheet" type="text/css" id="gravatar-card-services-css" href="{% static 'css/services.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/stg6sru.css' %}">


        <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <header class="container-fluid site-header">
        <div class="row color-bar">
            <div class="col block blue">
            </div>

            <div class="col block orange">
            </div>

            <div class="col block yellow">
            </div>

            <div class="col block green">
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="phone-icon" href="tel:0800 917 7650">
                <img src="{% static 'images/phone-icon.png' %}" scale="0"> </a>
            <a class="navbar-brand" href="{% url 'meeting_search' %}">
                <img src="{% static 'images/aa_logo.png' %}" id="Logo" scale="0">
            </a>

            <p class="header-helpline">Call our National Helpline for <span>FREE</span> on <span>0800 917 7650</span>
            </p>
            <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse" type="button"><span
                    class="navbar-toggler-icon"></span></button>

            <div id="navbarNav" class="collapse navbar-collapse justify-content-end">
                <ul id="menu-top" class="navbar-nav">
                    <li id="menu-item-3537"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-3537 nav-item active">
                        <a href="{% url 'meeting_search' %}" class="nav-link active">Home</a></li>
                    <li id="menu-item-4517"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4517 nav-item"><a
                            href="{% url 'meeting_search' %}" class="nav-link">Find a Meeting</a></li>
                    <li id="menu-item-4578"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4578 nav-item dropdown">
                        <a href="{% url 'meeting_search' %}" class="nav-link"
                            >12 &amp; 12</a>
                        
                    </li>
                    <li id="menu-item-4543"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4543 nav-item dropdown">
                        <a href="https://aa-edinburgh.org.uk/professionals/" class="nav-link dropdown-toggle"
                            data-toggle="dropdown">Information For Professionals</a>
                        
                    </li>
                    <li id="menu-item-4564"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4564 nav-item dropdown">
                        <a href="https://aa-edinburgh.org.uk/newcomers/" class="nav-link dropdown-toggle"
                            data-toggle="dropdown">Newcomers to AA</a>
                        
                    </li>
                    <li id="menu-item-4141"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4141 nav-item dropdown">
                        <a href="https://aa-edinburgh.org.uk/newcomers/members-stories/"
                            class="nav-link dropdown-toggle" data-toggle="dropdown">Members’ Stories</a>
                        
                    </li>
                    <li id="menu-item-3536"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3536 nav-item"><a
                            href="https://aa-edinburgh.org.uk/contact-us/" class="nav-link">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/dom-ready.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/photon.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/devicepx-jetpack.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/gprofiles.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/eu-cookie-law.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/aalondon.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
