{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        
       <link rel="stylesheet" id="bootstrap-css" href="{% static 'css/bootstrap.css' %}" type="text/css" media="all"> 
       
        
        <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />

         <link rel="stylesheet" href="{% static 'css/main.css' %}" />
       
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <div id="wrapper">
			


 

            <!-- Header -->
                <header id="header">
                    <h1><a href="/">AA</a></h1>
                    <nav class="links navbar navbar-expand-lg navbar-light bg-light">
                     
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Intergroups
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/City-Of-London-Intergroup" target="_blank">City of London</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-Chelsea-Intergroup" target="_blank">Chelsea</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/East-London-Intergroup" target="_blank">East London</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-Kensington-&-Fulham-Intergroup" target="_blank">Kensington &-Fulham</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-North-East-Intergroup" target="_blank">North East</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-North-Intergroup" target="_blank">North</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-North-Middlesex-Intergroup" target="_blank">North Middlesex</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-North-West-Intergroup" target="_blank">North West</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-South-Middlesex-Intergroup" target="_blank">South Middlesex</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-West-End-Intergroup" target="_blank">West End</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-Westway-Intergroup" target="_blank">Westway</a>
                                   
                                </div>
                              </li>
                              <li class="nav-ite dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Service
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for page in servicepages %}
                                  
                                    
                                  <a class="dropdown-item" href="{{ page.url}}" >{{page.title}}</a>
                                  {% endfor %}
                                </div>

                              </li>
                            <li><a class="nav-link" href="/meetingsearch">Find a Meeting</a></li>
                            <li><a class="nav-link" href="/events">Events</a></li>
                           
                            
                          
                            
                            </ul>
                         
                        </div>
                      </nav>
                
                </header>

            
            
           

            <!-- Main -->
                <section id="main">

                            
                            {% block content %}{% endblock %}
                  

                    


                    

                </section>

            <!-- Sidebar -->
                <section id="sidebar">

                    <!-- Intro -->
                        <section id="intro">
                            <a href="#" class="logo"><img src="{% static 'images/logo.jpg' %}" alt="" /></a>
                            
                            <header>
                                <h2>Alcoholics Anonymous</h2>
                                <p>London Region North</a></p>
                            </header>
                        </section>

                    
                        
                    
                    
                
                        

                </section>

        </div>
       

        {# Global javascript #}
        
       
               
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{% static 'js/browser.min.js' %}"></script>
        <script src="{% static 'js/breakpoints.min.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

	
        

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
