{% load static %}


<div class="download-app-container">
    <div> 
      <img src="{% static '/images/aa-app-logo-registered.png' %}" class="aa-app-image" style="margin-right: 20px"/>
    </div>

    <div class="text-lg text-center">
      <span>LONDON MEETINGS CAN NOW BE FOUND ON THE</span><br>
      <span>WORLD SERVICES MEETING GUIDE APP - DOWNLOAD NOW</span>

      <div style="padding-top: 30px" class="download-app-container">
        <div>
            <a href="https://apps.apple.com/us/app/meeting-guide/id1042822181" alt="link to app store" target=”_blank”>
                <img src="{% static '/images/appstore-logo.png' %}" class="m-space-x app-store"/>
            </a>
        </div>
        <div>
          <a href="https://play.google.com/store/apps/details?id=org.meetingguide" alt="link to play store" target=”_blank”>
              <img src="{% static '/images/play-logo.png' %}" class="m-space-x app-store"/>
          </a>
        </div>
      </div>
    </div>
</div>