  {% load static %}
  <div id="footer-container">
  <section class="footer-box"><h2>Get help now</h2>

    <div class="arrow-wrapper">
        <div class="arrow-wrapper-row"><span class="new-arrow"><img src="/static/images/black-arrow.svg" alt=""></span><span>Call us any time on <a class="blue-text" href="tel:0800 9177 650">0800 9177 650</a></span></div>
        <div class="arrow-wrapper-row"><span class="new-arrow"><img src="/static/images/black-arrow.svg" alt=""></span><span>Use our <a class="blue-text" href="https://www.alcoholics-anonymous.org.uk/Home" target="_blank" rel="noopener noreferrer">Chat Now</a> service</span></div>
        <div class="arrow-wrapper-row"><span class="new-arrow"><img src="/static/images/black-arrow.svg" alt=""></span><span><a class="blue-text" href="mailto:help@aamail.org">Email Us</a></span></div>
        <div class="arrow-wrapper-row"><span class="new-arrow"><img src="/static/images/black-arrow.svg" alt=""></span><span><a class="blue-text" href="https://www.alcoholics-anonymous.org.uk/About-AA/Newcomers" target="_blank" rel="noopener noreferrer">Learn more</a></span></div>
    </div>
    </section>
    <section class="footer-box"><h2>AA member stories</h2>
        <div class="arrow-wrapper">
        <div class="arrow-wrapper-row"><span class="new-arrow"><img src="/static/images/black-arrow.svg" alt=""></span><span>Call us any time on <a class="blue-text" href="tel:0800 9177 650">0800 9177 650</a></span></div>
        <div class="arrow-wrapper-row"><span class="new-arrow"><img src="/static/images/black-arrow.svg" alt=""></span><span>Use our <a class="blue-text" href="https://www.alcoholics-anonymous.org.uk/Home" target="_blank" rel="noopener noreferrer">Chat Now</a> service</span></div>
        <div class="arrow-wrapper-row"><span class="new-arrow"><img src="/static/images/black-arrow.svg" alt=""></span><span><a class="blue-text" href="mailto:help@aamail.org">Email Us</a></span></div>
        <div class="arrow-wrapper-row"><span class="new-arrow"><img src="/static/images/black-arrow.svg" alt=""></span><span><a class="blue-text" href="https://www.alcoholics-anonymous.org.uk/About-AA/Newcomers" target="_blank" rel="noopener noreferrer">Learn more</a></span></div>
        </div>
    </section>
    <section class="footer-box"><h2>new to AA?</h2>
      <p>Alcoholics Anonymous is a fellowship of men and women who
share their experience, strength and hope with each other that
they may solve their common problem and help others to recover
from alcoholism.<b>The only requirement for membership is a desire to stop drinking.</b>
 </p>
    </section>
    <section id='footer-links'>
    <div><a href="/">Home</a></div>
    <div><a href="/">Get help now</a></div>
    <div><a href="/">New to AA</a></div>
    <div><a href="/">Find a meeting</a></div>
    <div><a href="/">AA member stories</a></div>
    <div><a href="/">About us</a></div>
    <div><a href="/">AA Members</a></div>
    <div><a href="/">Terms and conditions</a></div>
    <div><a href="/">Privacy statement</a></div>
    <div><a href="/">AA Worldwide</a></div>
    <div><a href="/">Disclaimer</a></div>



    </section>
</div>

