{% load menu_tags %}
<nav class="links x navbar navbar-expand-lg navbar-light bg-light">
                     
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">                        
<ul class="nav navbar-nav">
{% for item in menu_items %}
    <li class="z {{ item.active_class }}{% if item.has_children_in_menu %} dropdown{% endif %}">
        <a href="{{ item.href }}"{% if item.has_children_in_menu %} class="p dropdown-toggle" id="ddtoggle_{{ item.link_page.pk }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}>{{ item.text }}{% if item.has_children_in_menu %} <span class="caret"></span>{% endif %}</a>
        {% if item.has_children_in_menu %}
        	{% sub_menu item template="menus/sub_menu_dropdown.html" %}
        {% endif %}
    </li>       
{% endfor %}
</ul>
</div>
</nav>


<!--

<h1><a href="/">AA</a></h1>
                    <nav class="links navbar navbar-expand-lg navbar-light bg-light">
                     
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Intergroups
                                </a>
                                <div class="    " aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/City-Of-London-Intergroup" target="_blank">City of London</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-Chelsea-Intergroup" target="_blank">Chelsea</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/East-London-Intergroup" target="_blank">East London</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-Kensington-&-Fulham-Intergroup" target="_blank">Kensington & Fulham</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-North-East-Intergroup" target="_blank">North East</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-North-Intergroup" target="_blank">North</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-North-Middlesex-Intergroup" target="_blank">North Middlesex</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-North-West-Intergroup" target="_blank">North West</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-South-Middlesex-Intergroup" target="_blank">South Middlesex</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-West-End-Intergroup" target="_blank">West End</a>
                                  <a class="dropdown-item" href="https://www.alcoholics-anonymous.org.uk/Members/Regional-&-Local-Websites/london-region-(north)/London-Westway-Intergroup" target="_blank">Westway</a>
                                   
                                </div>
                              </li>
                              <li class="nav-ite dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Service
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for page in servicepages %}
                                 
                                  {% ifequal page.title "Insurance" %}  
                                  <a class="dropdown-item" href="{{pdf_url}}" target="_blank">Insurance</a>
                                  {% else %} 
                                <a class="dropdown-item" href="{{ page.url}}" >{{page.title}}</a>
                                      {% endifequal %}
                                  {% endfor %}
                                </div>

                              </li>
                            <li><a class="nav-link" href="/meetingsearch">Find a Meeting</a></li>
                            <li><a class="nav-link" href="/events#event-title">Events</a></li>
                            <li class="nav-ite dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Online Meetings
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for page in onlinepages %}
                                 
                                <a class="dropdown-item" href="{{ page.url}}" >{{page.title}}</a>
                                  {% endfor %}
                                </div>

                              </li>
                            
                          
                            
                            </ul>
                         
                        </div>
                      </nav>

                      -->